@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


* {
  font-family: "Share Tech Mono", monospace;
}

body {

  margin-left: 100px;
  margin-right: 100px;
  background-color: #031321;

}

header {

  top: 0;
  gap: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

i {

  font-size: 75px;
  color: #2196f3;

}

.titulo {

  color: #2196f3;
  font-size: 75px;

}

main {

  margin-top: 50px;

}

.botoes {

  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  margin: 30px 479px;

}

.botoes button {

  height: 120px;
  width: 250px;
  font-size: 20px;
  position: relative;
  color: #2196f3;
  background-color: #031321;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  text-decoration: none;
  border-style: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;

}

button:hover{

  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;

}



